* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  min-height: 100vh; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3eeea; }

.maincontent {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  margin: 0 auto;
  width: 1000px;
  position: relative; }

.intro__slider {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden; }

.intro__img {
  width: 100%;
  height: auto; }

.intro__slide-controls {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%; }

.prev,
.next {
  background: #2f2f2e;
  opacity: 0.7;
  margin: 0;
  cursor: pointer; }
  .prev img,
  .next img {
    display: block; }

.prev {
  padding: 27px 20px 25px 14px; }

.next {
  padding: 27px 14px 25px 20px; }

.btn {
  color: #f3eeea;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none; }
  .btn:hover {
    background: #616060;
    color: #4999af;
    cursor: pointer; }

.social__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0; }

.social__item {
  margin-right: 8px; }

.social__link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%; }
  .social__link:last-child {
    margin-right: 0; }
  .social__link:hover > img {
    -webkit-filter: invert(1);
            filter: invert(1); }
  .social__link img {
    display: block; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 20px 0 11px 17px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  z-index: 10; }

.logo__wrap {
  padding-left: 65px;
  background: url("../img/Logo.png") left center no-repeat;
  background-attachment: inherit; }

.title {
  color: #727372;
  font-family: "Proxima Nova Rg", sans-serif;
  line-height: 1.625rem;
  font-size: 2.375rem;
  font-weight: 700;
  font-weight: 700; }
  .title span {
    font-family: 'Proxima Nova Lt';
    font-weight: 300; }

.nav__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(27, 127, 155, 0.6);
  position: relative;
  right: -13px;
  padding: 11px 22px 11px 13px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .search:before {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    background: rgba(27, 127, 155, 0.6);
    height: 100%;
    width: 13px;
    -webkit-transform: skewY(135deg);
        -ms-transform: skewY(135deg);
            transform: skewY(135deg); }

.search__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 84px;
  margin: 0 73px 0 0;
  padding: 0; }

.search__item {
  padding: 0;
  margin-right: 10px; }
  .search__item:last-child {
    margin-right: 0; }

.search__item--line {
  font-size: 12px;
  color: #fff; }

.search__link, .nav__link {
  text-decoration: none;
  font-family: "Proxima Nova Rg", sans-serif; }

.search__link {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 400; }
  .search__link:hover {
    color: #668333; }

.fa-search {
  color: #fff; }

.nav {
  padding-right: 17px; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }

.nav__item {
  text-transform: uppercase;
  margin-right: 60px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  width: 28.438rem;
  height: 0.75rem;
  color: #668333;
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #6d893c; }
  .nav__link:hover {
    color: #4999af; }

.intro {
  position: relative; }

.intro__container {
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.intro__title-wrapper {
  background: #3d899f;
  opacity: 0.8;
  padding: 25px 39px 28px 19px;
  position: absolute;
  left: 0;
  bottom: 39px; }

.intro__title {
  padding: 0;
  margin: 0;
  max-width: 410px;
  color: #fff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 2.125rem;
  font-weight: 700; }
  .intro__title span {
    font-weight: 300; }

.events {
  background: #f3eeea;
  padding: 30px 0; }

.events__gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.events__card {
  position: relative; }
  .events__card:last-child {
    margin-right: 0; }

.events__card-img {
  display: block; }

.events__card-descr {
  height: 100%;
  position: absolute;
  width: 320px;
  margin: 0 20px 0 0;
  padding: 96px 0 0 0;
  top: 0;
  left: 0;
  text-align: right; }

.events__card-title {
  min-width: 280px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 2.813rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0 20px 0 0; }

.events__card-link {
  max-width: 270px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 8px 12px 8px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 11px;
  color: #fff;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out; }
  .events__card-link--left {
    background: #1b7f9b;
    opacity: 0.8; }
  .events__card-link--center {
    background: #668333;
    opacity: 0.8; }
  .events__card-link--right {
    background: #f1715e;
    opacity: 0.8; }
  .events__card-link:hover {
    opacity: 1; }
  .events__card-link svg {
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-left: 11px; }

.events__descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.events__descr-left {
  width: 48%;
  margin-right: 40px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.events__title {
  max-width: 210px;
  line-height: 15px;
  color: #4999af;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 27px 0; }

.events__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.events__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 23px 0 20px;
  border-top: 1px solid #d2cdc9; }

.events__date {
  padding: 0;
  margin: 0 20px 0 0;
  max-width: 46px;
  line-height: 16px;
  color: #668333;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 2rem;
  font-weight: 400; }
  .events__date span {
    line-height: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase; }

.events__title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.events__item-title {
  margin: 0 0 9px 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 134px;
  line-height: 12px;
  color: #f1715e;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.063rem;
  font-weight: 400;
  text-transform: uppercase; }

.events__btn {
  margin-left: auto;
  background: #4999af; }

.events__day {
  margin: 0;
  padding: 0;
  line-height: 12px;
  color: #5f5f5f;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 0.813rem;
  font-weight: 600; }

.events__time {
  font-weight: 400; }

.events__btn {
  padding: 7px 21px; }

.events__descr-right {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  width: 48%; }

.events__descr-title {
  padding: 0;
  margin: 0 0 24px 0;
  line-height: 15px;
  color: #4999af;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase; }

.events__descr-text {
  padding: 0;
  margin: 0; }

.events__desct-button {
  background: transparent;
  border: none;
  color: #f1715e;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

.events__descr-text {
  max-width: 485px;
  line-height: 1rem;
  color: #5f5f5f;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0;
  margin: 0 0 21px 0; }

.footer {
  background: #525252; }

.footer__container {
  padding: 32px 0 34px; }

.footer__address-wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 56px 40px 0; }

.footer__title {
  padding: 0;
  margin: 0 0 36px 0;
  max-width: 286px;
  line-height: 14px;
  color: #f3eeea;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase; }
  .footer__title--email {
    margin-bottom: 27px; }

.footer__shift-time {
  padding: 0;
  margin: 0 0 7px 0;
  line-height: 18px;
  color: #f3eeea;
  font-family: "Proxima Nova Lt";
  font-size: 20px;
  font-weight: 400; }

.footer__shift-text {
  padding: 0;
  margin: 0;
  max-width: 256px;
  line-height: 10px;
  color: #b3b3b3;
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 0.75rem;
  font-weight: 400; }

.footer__btn {
  background: #4999af;
  padding: 9px 77px; }

.footer__copy {
  width: 100%;
  margin: 0;
  padding-top: 18px; }

.footer__copy {
  padding-top: 18px;
  border-top: 1px solid #6b6b6a; }

.footer__copy-text {
  padding: 0;
  margin: 0;
  width: 379px;
  height: 13px;
  color: #b3b3b3;
  font-family: "Myriad Pro";
  font-size: 0.75rem;
  font-weight: 400; }
