.subscribe__modal {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    z-index: 99;
    justify-content: center;
    padding: 46px 46px 35px;    
}

.subscribe__modal_title {
    padding: 0;
    margin: 0 0 36px;
    text-align: center;
    color: #4999af;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
}

.subscribe__modal_text {
    color: rgba(95, 95, 95, .6);
    font-size: 1rem;
    font-weight: 400;
    max-width: 320px;
    font-family: "Myriad Pro", sans-serif;
    padding: 0;
    margin: 0 0 14px;

}

.modal__email {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #f5f5f5; 
    padding: 20px 23px; 
    margin: 0 0 15px;
}

.subscribe__modal_subtitle {
    opacity: 0.6;
    color: #5f5f5f;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 0;
    margin: 0 0 27px;
}

.modal__btn {
    padding: 20px 68px;
    max-width: 243px;
    margin: 0 auto;
}

.subscribe__modal_close {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.subscribe__modal_cross {
    position: absolute;
    width: 17px;
    height: 1px;
    background: #000;
   
}

.modal__cross1 {
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}
.modal__cross2 {
    bottom: 0;
    right: 2px;
    transform-origin: 100% 0;
    transform: rotate(45deg);
}