
.intro__slider{

   text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.intro__img{
    width: 100%;
    height: auto;
}

  .intro__slide-controls{
    list-style: none; 
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    
    
  }

.prev, 
.next {
  
  background: #2f2f2e;
  opacity: 0.7;
  margin: 0;
  cursor: pointer;

    @media screen and (max-width:460px) {
            display: none;
            
        }
  
 

 img {
    display: block;
  }
}
  .prev {
    padding: 27px 20px 25px 14px;
  }
  .next {
    padding: 27px 14px 25px 20px;
  }
 