
.intro__slider{

   text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.intro__img{
    width: 100%;
    height: auto;
}

// .slick-arrow:before {
//     display: block;
//     width: 100px;
//     height: 100px;
//     background: #ffffff;
//     visibility: visible;
//     position: relative;
//     z-index: 2;
// }
// .slick-prev:before{
//     display: block;
//     width: 100px;
//     height: 100px;
//     background: #ffffff; 
// }

	


.prev {
  content: "<";
  color: red;
  font-size: 30px;
  display: block;
}

.next {
  content: ">";
  color: red;
  font-size: 30px;
  visibility: visible;
  display: block;
}

  .intro__slide-arrows{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
  }