
.intro__slider{

   text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

img.intro__img{
    width: 100%;
    height: auto;
}