.events {
    background: #f3eeea;
    padding: 30px 0;
    display: flex;
}

.events__gallery {
    @include flex-row;
    justify-content: space-between;

      @media screen and (max-width: 1024px) {
           flex-wrap: wrap;
           justify-content: space-around;
        }

         @media screen and (max-width: 768px) {
           flex-flow: column nowrap;
        }
}
.events__card {
    position: relative;

    @media screen and (max-width: 1024px) {
           margin-bottom: 20px;
           
        }

         @media screen and (max-width: 768px) {
           margin: 10px;
           width: 100%; 

           &:first-child {
               margin-top: 0;
           }
        }
}

.events__card-img{
    display: block;
    width: 100%;
}
.events__card-descr {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    margin: 0;
    padding: 0;
    text-align: right;

}

.events__card-title {
min-width: 280px;
text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
color: #fff;
font-family: $base-font;
font-size: 2.813rem;
font-weight: 700;
text-transform: uppercase;
padding: 0;
margin: 0 20px 67px 0;
}

.events__card-link {
    max-width: 270px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 8px 12px 8px 20px; 
    align-items: center;
    
    // text-style
    line-height: 11px;
    color: #fff;
    font-family: $base-font;
    font-size: 1rem;    
    font-weight: 400;
    text-decoration: none;
        transition: opacity .2s ease-in-out;
    //bg modification
    &--left {
        background: #1b7f9b;
        opacity: 0.8;
    }

     &--center {
        background: #668333;
        opacity: 0.8;
    }

     &--right {
        background: #f1715e;
        opacity: 0.8;
    }

    &:hover {
        opacity: 1;
    }
    // arrow
    svg {
        border: 2px solid #fff; 
        border-radius: 50%;
        margin-left: 11px;
    }
}

.events__descr {
    @include flex-row;
    padding-top: 33px;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

     @media screen and (max-width: 768px){
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 20px;
    }
}

.events__descr-left {
    width: 48%;
    margin-right: 40px;
    flex-grow: 2;

     @media screen and (max-width: 768px){
        margin-bottom: 15px;
        width: 100%;
        margin-right: 0px;
    }
}

.events__title {
    max-width: 210px;
    line-height: 15px;
    color: #4999af;
    font-family: $base-font;
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 27px 0;
}

.events__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    

}

.events__item {
    @include flex-row; 
    margin: 0;
    padding: 23px 0 20px;
    border-top: 1px solid #d2cdc9;
    
}



.events__date {
    padding: 0;
    margin: 0 20px 0 0;
    
    max-width: 46px;
    line-height: 16px;
    color: #668333;
    font-family: $base-font;
    font-size: 2rem;
    font-weight: 400;

    span {
        line-height: 10px;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.events__title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.events__item-title {
    margin: 0 0 9px 0;
    padding: 0; 
    @include flex-row;
    max-width: 134px;
    line-height: 1.063rem;
    color: #f1715e;
    font-family: $base-font;
    font-size: 1.063rem;
    font-weight: 400;
    text-transform: uppercase;
}

.events__btn {
    margin-left: auto;
    background: #4999af;
}
.events__day {
    margin: 0;
    padding: 0;
    line-height: 12px;
    color: #5f5f5f;
    font-family: $base-font;
    font-size: 0.813rem;
    font-weight: 600;
}

.events__time {
    font-weight: 400;
}

.events__btn {
    padding: 7px 21px;
} 



// right-column
.events__descr-right {
    flex-shrink: 1;
    width: 48%;
     @media screen and (max-width: 768px){
        margin-bottom: 15px;
        width: 100%;
    }
}

.events__descr-title {
    padding: 0;
    margin: 0 0 24px 0;
    line-height: 15px;
    color: #4999af;
    font-family: $base-font;
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: uppercase;
}   

.events__descr-text {
    padding: 0;
    margin: 0;

     @media screen and (max-width: 768px){
        text-align: justify;
    }
}
.events__desct-button {
    background: transparent;
    border: none;
    color: #f1715e;
    font-family: "Proxima Nova Lt", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.events__descr-text {
    max-width: 485px;
    line-height: 1rem;
    color: #5f5f5f;
    font-family: $base-font;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0;
    margin: 0 0 21px 0;
}