.footer{
    background: #525252 ;
    
    

    
}

.footer__container {
    padding: 32px 0 34px;
}
.footer__address-wrap {
    width: 100%;
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 56px;

}
.footer__title {
    padding: 0;
    margin: 0 0 36px 0;
    max-width: 286px;
    line-height: 14px;
    color: #f3eeea;
    font-family: $base-font;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;

    &--email{
        margin-bottom: 27px;
    }
}

.footer__shift-time {
    padding: 0;
    margin: 0 0 7px 0;
    line-height: 18px;
    color: #f3eeea;
    font-family: "Proxima Nova Lt";
    font-size: 20px;
    font-weight: 400;
}

.footer__shift-text {
    padding: 0;
    margin: 0;
    max-width: 256px;
    line-height: 10px;
    color: #b3b3b3;
    font-family: $base-font;
    font-size: 0.75rem;
    font-weight: 400;
}
.footer__btn {
    background: #4999af;
    padding: 9px 77px;
}
.footer__copy {
    width: 100%;
    margin: 0;
    padding-top: 18px;
}
.social__wrap {
    @include flex-row;
}
.social__link {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
    
    img {
        display: block;
    }
}