.header {
    max-width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    width: 100%;
    @include flex-row;
    background: #fff;
    padding: 20px 0 11px 17px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

     @media screen and (max-width: 1024px) {
        width: 800px;
        margin: 0 auto;    
        padding-top: 10px;
        align-items: flex-start;
    }
     @media screen and (max-width: 930px) {
        width: 658px;
    }
      @media screen and (max-width: 768px) {
        width: 100%;
        background: transparent;
        padding-top: 5px;
        flex-direction: column;
        // display: none;   
    }
}

.header__container {
    margin: 0 auto;
    width: 1000px;
    position: relative;
   
    @media screen and (max-width: 1024px){
        padding: 0 15px;
        max-width: 800px;
    }

    @media screen and (max-width: 768px){
        width: 100%;
        

    }
}
.logo__wrap{
    padding-left: 65px;
    background: url('../img/Logo.png') left center no-repeat;
    background-attachment: inherit;
      @media screen and (max-width: 768px) {
       position: absolute;
       left: 50px;
       top: 0;  
    }
      @media screen and (max-width: 580px) {
       display: none;
    }
}
.title{
    color: #727372;
    font-family: $base-font;
    line-height: 1.625rem;
    font-size: 2.375rem;
    font-weight: 700;
    // Text style for "Seven"
    font-weight: 700;

    //Text style for "Oaks"
    span {
        font-family: 'Proxima Nova Lt';
        font-weight: 300;
    }

}


.nav__group{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 260px;
    align-items: flex-end;
     @media screen and (max-width: 768px) {
        right: 0;
        top: 0;
        transform: translateX(100%);
        margin: 0;
        padding: 0 0 10px 40px;
        background: rgba(27, 127, 155, 0.9);
        align-items: flex-start;
        position: fixed;    
        z-index: 12;
        transition: transform .5s;
    

        &--shown {
            transform: translateX(0);
        }
    }
     

}
.search {
    @include flex-row;
    background: rgba(27, 127, 155, 0.6);
    position: relative;
    right: -13px;
    padding: 11px 22px 11px 13px;
    justify-content: space-between;
    

      @media screen and (max-width: 768px) {
        flex-direction: column;
        right: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        align-items: flex-start;    
    }
   
    //right rectangule
    &:before {
        content: '';
        position: absolute;
        top: 6px;
        right: 0;
        background: rgba(27, 127, 155, 0.6);
        height: 100%;
        width: 13px;
        transform: skewY(135deg);
        
        @media screen and (max-width: 768px) {
            display: none;
       
        }
    }
}

.search__list{
    // justify-content: flex-end;
    @include flex-row;
    list-style: none;
    margin-right: 99px - 15px;
    margin: 0 73px 0 0;
    padding: 0;
     @media screen and (max-width: 1024px) {
         margin-right: 15px;
       
    }
     @media screen and (max-width: 768px) {
            flex-direction: column;
            margin: 0;
            padding: 0;
            align-items: flex-start;
        }
}

.search__item {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
     @media screen and (max-width: 768px) {
            padding: 0;
            margin: 30px 20px 0 0;
            width: 100%;
       
        }
}
.search__item--line{
    font-size: 12px; 
    color: #fff;
    display: block;
    margin-right: 10px;

     @media screen and (max-width: 768px) {
            display: none;
       
        }
}
.search__link, .nav__link{
    text-decoration: none;
    font-family: $base-font;
}

.search__link{
    width: 100%;
    display: block;
    color: #fff;
    font-size: 0.813rem;
    font-weight: 400;
      @media screen and (max-width: 768px) {
            text-transform: uppercase;
             font-size: 1.5rem;
        }

    &:hover {
        color: #668333;
        @media screen and (max-width: 768px) {
        color: #4999af;
        }
    }

    
}

 .fa-search {
        color: #fff;

         @media screen and (max-width: 768px) {
            display: none;
       
        }
    }
.nav {
    padding-right: 17px;
    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 0;
    }
}
.nav__list{
    @include flex-row;
    list-style: none;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        right: 0;
        margin: 0;
        padding: 0;
        align-items: flex-start;
    }
   
}
.nav__item {
    text-transform: uppercase;
    margin-right: 60px;

    @media screen and (max-width: 1024px) {
       margin-right: 20px;
    }
   
        @media screen and (max-width: 768px) {
        padding: 0;
        margin: 30px 0 0 0;
        width: 100%;
        
    }
    
    &:last-child {
        margin-right: 0;
         @media screen and (max-width: 768px) {
        margin-right: 20px;
        
    }
    }
  
}

.nav__link{
    width: 28.438rem;
    height: 0.75rem;
    color: #668333;
    font-size: 0.938rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d893c;
    

      @media screen and (max-width: 768px) {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
       
       
    }
    &:hover{
        color: #4999af;
    }
}

.header__hamburger {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 11;
    display: none;

    @media screen and (max-width: 768px) {
            display: block;
        }
    &:hover {
        svg {
            fill: #2f2f2e;
        }
    }

    
}


