.intro {
    position: relative;
    
}
.intro__container{
    min-height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
     @media screen and (max-width: 1024px) {
            width: 100%;
        }
        @media screen and (max-width: 500px) {
            padding-right: 70px;
        }
}
.intro__title-wrapper {
    max-width: 469px;
    background: #3d899f;
    opacity: 0.8;
    padding: 25px 39px 28px 19px;
    position: absolute;
    left: 0;
    bottom: 39px;
    z-index: 5;

        @media screen and (max-width: 1120px) {
            left: 70px;
            padding-right: 15px;
        }
         @media screen and (max-width:768px) {
            padding: 15px;
            bottom: 0;
        }
      @media screen and (max-width:580px) {
            left: 50%;
            transform: translateX(-50%);
            min-width: 400px;
        }
          @media screen and (max-width:480px) {
            opacity: 0.6;
            
        }
}

.intro__title {
    padding: 0;
    margin: 0;
    max-width: 410px;
    color: #fff;
    font-family: $base-font;
    font-size: 2.125rem;
    font-weight: 700;

     @media screen and (max-width: 1024px) {
            font-size: 1.8rem;
            min-width: 280px;
            
        }
         @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0;
            margin: 0;
            
        }
         @media screen and (max-width: 480px) {
            font-size: 1.5rem;
            
        }
    span {
        font-weight: 300;
    }
}